# VATTIKONDA LAKSHMI BALAJI  Student ID: 16386514
---
## Assignment 2    
### Question 1

Importing libraries and loading the dataset

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('train.csv')
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

a) Fix missing values

In [48]:
# Checking missing values
df.isnull().sum()

# Filling numerical missing values with median
num_cols = df.select_dtypes(include=['int64', 'float64']).columns

for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

# Filling categorical missing values with mode
cat_cols = df.select_dtypes(include=['object']).columns

for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50

What I did:

1. I checked all columns to see how many missing values were present.

2. I selected numeric columns and filled their missing values using the median.

3. I selected categorical columns and replaced missing values with the mode.

4. I verified that the dataset had no more missing or empty cells.

Interpretation:

1. This step prevents errors because models cannot work with missing data.

2. Using the median preserves the original pattern without being affected by outliers.

3. Filling categories with the most common value keeps the data consistent.

4. The dataset becomes complete, clean, and reliable for the next steps.

b) Removing Units from Columns

In [49]:
def extract_num(x):
    return float(re.findall(r"[\d.]+", str(x))[0])

if "Mileage" in df.columns:
    df["Mileage"] = df["Mileage"].apply(extract_num)

if "Engine" in df.columns:
    df["Engine"] = df["Engine"].apply(extract_num)

if "Power" in df.columns:
    df["Power"] = df["Power"].apply(extract_num)

if "New_Price" in df.columns:
    df["New_Price"] = df["New_Price"].apply(extract_num)


df.to_csv("clean.csv", index=False)

df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,4.78,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,4.78,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,4.78,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,4.78,3.50

What I did:

1. I created a function to extract only numbers from strings with units.

2. I applied this function to mileage, engine, power, and new price columns.

3. I converted all extracted values into numeric format.

4. I checked updated columns to ensure no unit text remained.

Interpretation:

1. Removing units makes these features ready for calculations and modeling.

2. This avoids errors that happen when numbers and text are mixed.

3. Models understand pure numbers better than strings.

4. This step improves accuracy because all values become consistent.

c) One-Hot Encode Categorical Variables

In [50]:
df = pd.get_dummies(df, drop_first=True)
df.head()

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,New_Price,Price,Name_Audi A3 35 TDI Attraction,...,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,1,2015,41000,19.67,1582.0,126.20,5.0,4.78,12.50,False,...,False,False,False,True,False,False,True,False,False,False
1,2,2011,46000,13.00,1199.0,88.70,5.0,8.61,4.50,False,...,False,False,False,False,False,True,True,False,False,False
2,3,2012,87000,20.77,1248.0,88.76,7.0,4.78,6.00,False,...,False,False,False,False,False,False,True,False,False,False
3,4,2013,40670,15.20,1968.0,140.80,5.0,4.78,17.74,False,...,False,False,False,False,False,False,False,False,True,False
4,6,2013,86999,23.08,1461.0,63.10,5.0,4.78,3.50,False,...,False,False,False,False,False,False,True,False,False,False

What I did:

1. I identified all the categorical (object-type) columns in the dataset.

2. I converted these columns into dummy variables using get_dummies().

3. I used ***drop_first=True*** to avoid creating redundant columns.

4. I replaced the original categorical columns with the new encoded ones.

Interpretation:

1. Machine-learning algorithms need numbers, not text labels.

2. One-hot encoding helps the model understand category differences.

3. Dropping the first dummy prevents multicollinearity issues.

4. This step prepares the data for cleaner and more stable predictions.

d) Create New Feature

In [51]:
from datetime import date
current_year = date.today().year

if "Year" in df.columns:
    df["Car_Age"] = current_year - df["Year"]
df.head()

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,New_Price,Price,Name_Audi A3 35 TDI Attraction,...,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third,Car_Age
0,1,2015,41000,19.67,1582.0,126.20,5.0,4.78,12.50,False,...,False,False,True,False,False,True,False,False,False,10
1,2,2011,46000,13.00,1199.0,88.70,5.0,8.61,4.50,False,...,False,False,False,False,True,True,False,False,False,14
2,3,2012,87000,20.77,1248.0,88.76,7.0,4.78,6.00,False,...,False,False,False,False,False,True,False,False,False,13
3,4,2013,40670,15.20,1968.0,140.80,5.0,4.78,17.74,False,...,False,False,False,False,False,False,False,True,False,12
4,6,2013,86999,23.08,1461.0,63.10,5.0,4.78,3.50,False,...,False,False,False,False,False,True,False,False,False,12

What I did:

1. I calculated the current year using Pythons date function.

2. I checked whether the dataset had a Year column.

3. I subtracted the manufacturing year from the current year to get Car_Age.

4. I added Car_Age as a new column in the dataset.

Interpretation:

1. Car age is more meaningful than the raw manufacturing year.

2. It helps models understand depreciation and value drop over time.

3. This feature strengthens prediction accuracy for price-related outputs.

4. Adding this new feature increases the datasets overall information quality.

e) Select, Filter, Rename, Mutate, Arrange, Summarize

In [54]:
# Select
selected = df[['Price', 'Mileage']] if "Price" in df.columns else df.iloc[:, :5]

# Filter
filtered = df[df[df.columns[0]] > df[df.columns[0]].median()]

# Rename
renamed = df.rename(columns={df.columns[0]: "First_Column_Renamed"})

# Mutate
df["Feature_X2"] = df[df.columns[1]] * 2

# Arrange
sorted_df = df.sort_values(by=df.columns[0])

# Summarize + Group
summary = df.groupby(df.columns[-1]).mean()
summary
df.head()

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,New_Price,Price,Name_Audi A3 35 TDI Attraction,...,Location_Mumbai,Location_Pune,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third,Car_Age,Feature_X2
0,1,2015,41000,19.67,1582.0,126.20,5.0,4.78,12.50,False,...,False,True,False,False,True,False,False,False,10,4030
1,2,2011,46000,13.00,1199.0,88.70,5.0,8.61,4.50,False,...,False,False,False,True,True,False,False,False,14,4022
2,3,2012,87000,20.77,1248.0,88.76,7.0,4.78,6.00,False,...,False,False,False,False,True,False,False,False,13,4024
3,4,2013,40670,15.20,1968.0,140.80,5.0,4.78,17.74,False,...,False,False,False,False,False,False,True,False,12,4026
4,6,2013,86999,23.08,1461.0,63.10,5.0,4.78,3.50,False,...,False,False,False,False,True,False,False,False,12,4026

What I did:

1. I selected specific columns to explore the data more closely.

2. I filtered rows based on values above the median of the first column.

3. I renamed the first column and created a new transformed feature.

4. I sorted the dataset and generated group summaries using the last column.

Interpretation:

1. These actions help focus on relevant and meaningful parts of the dataset.

2. Filtering highlights patterns among higher or lower values.

3. Renaming and creating new features improves clarity and analysis depth.

4. Group summaries reveal average trends and support decision-making.

In [53]:
df.to_csv("final_output_Q1.csv", index=False)